.container {
    height: 260px;
    background-color: #444444;
    display: flex;
}

.card {
    flex: 1;
    padding: 20px;
    position: relative;
}

.title {
    font-size: 18px;
    color: #eea92a;
}

.text {
    color: #eee;
}

.icon {
    color: #eee;
    max-width: 30px;
    max-height: 30px;
    margin: 20px 0;
}
