.container {
    background-color: #EC992F;
    height: 100px;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.item {
    flex: 1;
}

.item:nth-child(2) {
    flex: 3;
} 