.container {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 40px;
}

.image {
    border: 1px solid #b7903c !important;
    border-radius: 2px; 
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #b7903c;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.price {
    font-style: 18px;
    font-weight: bold;
    color: #666;
}

.description {
    text-align: center;
    color: #777;
}